{% load url from future %}{% autoescape off %}

Hello!

This email ({{user.email}}) has just been signed up to be notified of your selected discounted haircut appointments in Camrbidge.

Before we send you deals, please confirm your email address by clicking here: {{ protocol }}://handsome.ly{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}

All the best,

Team Handsome.ly


P.S. We hope everything is working for you. On the slightest whim, whether to tell us of something broken or even just to say "hello", you can just reply to this or any other email you get from us.
{% endautoescape %}