{% extends 'base.html' %}

{% block title %}Register | Handsome.ly{% endblock %}

{% block content %}

<section>

  <h1>Register</h1>
  <span="subtitle">Enter the email address where you'd like to receive notifications of any haircut deals</span>
  <a href="/login">Log in</a>
  <form action="" method="post" class="form-inline form-very-large">
    {% csrf_token %}      
    <ul class="unstyled">
    {% for error in form.email.errors %}
        <li class="text-error"><strong>{{ error }}</strong></li>
    {% endfor %}
    </ul>
      {{ form.email }}
    <input class="btn btn-large btn-primary" type="submit" value="Register">
  </form>

</section>

{% endblock %}
