/*
 * Any css for the main (map) page that supercedes twitter bootstrap
 */

/*TOP OF THE PAGE */

#top-unit {
    padding: 20px 0 20px 40px;/* top right bottom left */
 }

#top-unit h1 {
margin-bottom: 0;
font-size: 80px;
line-height: 1;
letter-spacing: -1px;
color: inherit;
}

#top-unit p {
margin-bottom: 0;
font-size: 24px;
line-height: 1;
letter-spacing: -1px;
color: inherit;
}


/* LEFT OF MAP - CURRENTLY SCRAPPED */
#salon_list {
    width:3%; 
    float:left;
    padding-left: 10git 0px;
    visibility: hidden;
}


/*  MAP - BIG */
#map_canvas {
    width: 100%; 
    height: 90%;
    position: absolute;
    top:150px;
}


#bottom_nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}


#copyright {
    position: absolute;
    bottom: 6px;
    right: 10px;
    padding: 0;
    padding-right:10px;
}