/*Initial log in box
#popupbox{
  margin: 0; 
  margin-left: 40%; 
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; 
  width: 20%; 
  background: #876fff; 
  border: solid #000000 2px; 
  visibility: hidden; 
  }*/


/* COLOURED THEM TO SITINGUISH WHAT'S WHAT */
#register-modal{
 /* margin-left: 40%; 
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; */
/*  width: 20%; */
  border: solid #000000 2px; 
  visibility: hidden; 
  }

#login-modal{
/*  margin-left: 40%; 
  margin-right: 40%;
  margin-top: 50px; 
  padding-top: 10px; */
/*  width: 20%; */
  border: solid #000000 2px; 
   visibility: hidden; 
  }