.infoBox {
  	font-size: 18px;	
 	border: 1px solid black;
 	background-color:white;
 	width: 210px;
    border-radius: 5px;
    padding-bottom: 3px;
    text-align: center;
 }
 
 .infoBox .salon_name {
 	font-weight: bold;

 }
 .infoBox .haircut {
    padding:0;
    margin:0;
 }
 .infoBox .price {

 	padding:0;
 	margin:0;
 }
 .infoBox .phone_number {
    font-size:14px;
 }
 .infoBox > .timetable {
 	font-size: 13px; 	
 	text-align: right;
 	float:right;
 	line-height: 14px;
 	margin:10px;
 }

.infobox .website {
	font-size: 13px;
}