{% block bottom_navigation %}
	  <!-- Bottom Navigation -->

      <div class="row-fluid">
        <div class="fb-like" data-href="https://www.facebook.com/pages/handsomely/429702350381600?fref=ts" data-send="true" data-width="450" data-show-faces="true"></div>
      </div>
      
      <div class="row-fluid">

        <ul class="nav nav-pills pull-right" style="font-size:12px;">
          <li>
            <a href="http://blog.handsome.ly">Blog</a>
          </li>
          <li>
            <a href="/privacy/">Privacy Policy</a>
          </li>
          <li class="disabled">
            <a href="/cookies/">Cookie Policy</a>
          </li>
          <li class="disabled">
            <a>&copy; 2012 handsome.ly</a>
          </li>
        </ul>
      </div>

{% endblock %}


