{% extends "base.html" %}{% block nav-salons-active %}active{% endblock %}{% load staticfiles %}

{% block title %}More, timelier customers | Handsome.ly{% endblock %}

{% block content %}

    <div class="row-fluid">
    	<p class="lead">Bring customers to you, at times you can manage</p>
    </div>

{% if user.is_authenticated %}
	{% if handUser.salonID != -1 or handUser.salonID != -1 %}
    <div class="alert alert-info">
    	<strong><a href="/notify">Click here if you're a salon and looking to notify customers of any available appointments</a></strong>
  	</div>
	{% endif %}
{% endif %}

	<div class="row-fluid">
	  <h3>Why you should use handsome.ly at your salon</h3>
	  <div class="span10 offset1">
	  	<p>Handsome.ly is a service to bring you more customers at times that are convenient to you. We're tying together the needs of customers and salons to make a service that is valuable to both. A customer applies to your salon and you tell them when is a good time to come.</p>
		</div>

  	<div class="row-fluid">
  		<div class="span11" style="margin-left: auto; margin-right:auto; float:none;">

	  		<div class="span4 offset1 well">
	  			<h4>Great for salons</h4>
	  			<dl>
	  				<dt>Fewer, empty timeslots</dt>
	  				<dd>An empty timeslot is a lost opportunity for revenue. You can control when a customer comes in and fill up those last minute cancelled appointments</dd>

	  				<dt>Balance customers throughout the day</dt>
	  				<dd>Customers can be directed to the times that are otherwise quiet for you, and you can encourage customers by offering a discount</dd>

	  				<dt>New customers</dt>
	  				<dd>Your salon will show up in online results, exposing it to new customers</dd>


	  				<dt>Doesn't take time away from your work</dt>
	  				<dd>We've made using the system as simple as possible so you can spend your time doing what you do best (<em>...cutting hair</em>)</dd>
	  			</dl>
	  		</div>

	  		<div class="span6">
	  			<br>
	  			<p>All salons and barbershops suffer from the same problem. There are times in the day that are less desirable for customers to have a haircut. Equally, there are other times that are so popular you have to bring in more staff or turn down people's requests.</p>

	  			<p>A partial solution has been to offer people who are price-critical but fairly flexible on time (typically <em>students</em>) a discount for coming in on the quieter midweek days.</p>

	  			<p>However, the salon still has little control over when people are likely to come in, and the demand can still change significantly throughout the day.</p>

	  			<p>Handsome.ly is a waitlist system for people that are interested in getting a haircut with your salon  soon. With a simple click of a button on a computer or phone, you can bring customers to you when it's quiet, or offer out a cancelled appointment to people looking to get their hair cut with you as soon as possible.
	  			<p style="text-align:center;"><img src="{% static 'img/laptop_notify.png' %}" style="text-align:center"/></p>
	  		</div>

  		</div>
  	</div>
  	<br>
		<div class="row-fluid">
			<div class="span6 offset1">
				<p>Handsome.ly leads to happier customers too.</p>
				<p>They can select your salon on their phone where ever they may be, and be notified instantly with your communication.</p>
  			<p style="text-align:center;"><img src="{% static 'img/phone_user.png' %}"/></p>
			</div>

  		<div class="span4 well">
  			<h4>Happier Customers</h4>
  			<dl>
  				<dt>Cheaper haircuts</dt>
  				<dd>If they are taking up cancelled appointments or undesirable times, they could receive a discounted haircut</dd>
  				<dt>Time flexible, but busy</dt>
  				<dd>Students are typically quite flexible with their time, but they can be <em>very</em> busy. They will appreciate your service more if they're guaranteed they're not going to queue for a long time</dd>
	  			<dt>Can get a haircut sooner</dt>
	  			<dd>They can get their hair cut sooner, by taking up any cancelled appointments</dd>
	  			<dt>Book simply, using their mobile</dt>
	  			<dd>Our web app is available on all devices whereever they may be.</dd>
  						</dl>
  		</div>

		  	</div>
  	</div>

		<div class="row-fluid">

			<h3>Sign your salon up</h3>
			<div class="span10 offset1">
				<p>If you're interested in using handsome.ly for your salon then you can email us at <a href="mailto:team@handsome.ly">team@handsome.ly</a>, or enter your email address below and we'll be in touch.</p>
				<form action="/salon_signup/" method="post" class="form-inline" style="text-align:center"> {% csrf_token %}
					<input type="text" name="email" placeholder="Salon contact email address">
					<button type="submit" class="btn btn-primary">Submit</button> 
				</form>
			</div>
		</div>


{% endblock %}
