Hey {{users_email}}

<p>The salon <strong>{{salon_name}}</strong> has a {{notification.get_haircut_type_display}} appointment available at {{notification.appointment_datetime}} for £{{notification.appointment_price}} {% if notification.original_price %}(usual price £{{notification.original_price}})!{% endif %}</p>

{% if notification.additional_info %}
  "{{notification.additional_info}}"
{% endif %}

<p>Your response: 
- <a href="http://handsome.ly/response/?ans=YES&notifID={{notification.id}}&userID={{user_id}}">YES</a> 
- <a href="http://handsome.ly/response/?ans=NO&notifID={{notification.id}}&userID={{user_id}}">NO</a> 
- <a href="http://handsome.ly/response/?ans=CANCEL&notifID={{notification.id}}&userID={{user_id}}">CANCEL</a> 
</p>

All the best, <br>
the Handsome.ly team :)

P.S. Thanks for being one of the first users of Handsome.ly! You can reply to this email and we'll get right back to you. 