Hi {{users_email}}!
<br/>
The salon <b>{{salon_name}}</b> has a {{haircut_type}} appointment available at {{appointment_date_time}} for £{{appointment_price}} (usual price £{{original_price}})!
<br/>
<br/>
Additional info from salon:
<br/>
"{{additional_info_from_salon}}"
<br/>
<br/>
Your response: 
- <a href=\"http://www.handsome.ly/response/?ans=YES&notifID={{notification_id}}\">YES</a> 
- <a href=\"http://www.handsome.ly/response/?ans=NO&notifID={{notification_id}}">NO</a> 
- <a href=\"http://www.handsome.ly/response/?ans=CANCEL&notifID={notification_id}}">CANCEL</a> 
<br/>
<br/>
Thanks, 
<br/>
the Handsome.ly team.