{% extends "base.html" %}{% block nav-about-active %}active{% endblock %}
{% load staticfiles %}

{% block title %}Hairwhat? - Handsome.ly{% endblock %}

  {% block page_specific_headers %}
  {% endblock %}

  {% block content %}

      <div class="row-fluid">
        <p class="lead">What is this?</p>
      </div>

      <center>
      <b>
        What do we do?
      </b> 
      </br>
      <p>We instantly let you know when your favourite salon is not busy; or has an empty appointment for today. 
      <br/>  
      No queues. No appointments booked weeks in advance. handsome.ly is for those who value their time.</p>
      <p><b>How to get involved:</b>
      </br>
      <b>1.</b> Indicate your salons of preference on our <a href="http://www.handsome.ly/">homepage.</a>
      </br> 
      <b>2.</b> That is it. We let you know when they are free by email for the next 24 hours. 
      <br/>For each email we send you, you choose to Accept, Decline, or Cancel Notifications for the day.</p>
      Find out more in the video below!  
      <br/> 
        <iframe width="640" height="360" src="http://www.youtube.com/embed/4SxPyH38SLQ?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </center>
    </br>
      <div class="row-fluid">
      </br>
        <center>
        <p>Founded by these three finely groomed gentlemen:</p>
        </center>
      </div>
      <div class="row-fluid">
        <div class="span4" style="text-align:center">
          <a href="https://twitter.com/FraserAtkins">
            <img src="../static/img/Fraser.jpg" alt="Fraser" width="110" height="90" class="img-polaroid" />
          </a></br>
          <strong>Fraser Atkins</strong>
          <p>Scottish</p>
        </div>
        <div class="span4" style="text-align:center">
          <a href="https://twitter.com">
            <img src="../static/img/M.jpg" alt="M" class="img-polaroid" width="110" height="90" />
          </a></br>
          <strong>M Ahmed</strong>
          <p>He claims it's designer stubble</p>
        </div>
        <div class="span4" style="text-align:center">
          <a href="https://twitter.com/jordnb">
            <img src="../static/img/Jordan.jpg" alt="Jordan" width="110" height="90" class="img-polaroid" />
          </a></br>
          <strong>Jordan Burgess</strong>
          <p>Cracking sideburns</p>
        </div>
      </div>

      <div class="row-fluid">
      <blockquote class="pull-left">
        <p>"Would you like a free banana?"</p>
        <small> Fraser Atkins, cofounder of <cite title="This webservice you're using here">handsome.ly</cite> and guerilla marketing genius</small>
      </blockquote>

      <blockquote class="pull-right">
        <p>"I really liked this service, no queues for me ever again! I feel slightly less British"</p>
        <small> Jordan Burgess, cofounder of <cite title="This webservice you're using here">handsome.ly</cite></small>
      </blockquote>
     </div>

      <small><strong>&copy; 2012 handsome.ly</strong></small>
    </div>


  {% endblock %}
