{% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block headers %}{% include 'headers.html' %}{% endblock %}
    {% block page_specific_headers %} {% endblock %}
  </head>

  <body>
   {% block top_navigation %}       <div class="navbar navbar-static-top">
        <div class="navbar-inner" style="padding-top: 10px; margin-bottom: 20px;">
        <div class="container">  
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <!-- 3 little horizontal bars -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <span class="logo pull-left" style="color:black; font-size:36px; line-height: 40px; font-weight:bold;"><a href="/">handsome.ly</a></span>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav nav-tabs pull-right">

              <li class="{% block nav-index-active %}{% endblock %}">
              <a href="/">For Customers</a>
              </li>

              <li class="{% block nav-salons-active %}{% endblock %}">
              <a href="/salons">For Salons</a>
              </li>

              <li class="{% block nav-about-active %}{% endblock %}">
              <a href="/about">About Us</a>
              </li>

              {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="/profile" class="dropdown-toggle {% block nav-profile-active %}{% endblock %}" data-toggle="dropdown">
                  My Account<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/profile">View Profile</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/logout">Sign Out</a>
                  </li>
                </ul><!--/dropdownmenu-->
              </li>
              {% endif %}

              {% if not user.is_authenticated %}
              <li class="dropdown">
                <a href="/profile" class="btn btn-primary dropdown-toggle {% block nav-login-active %}{% endblock %}" data-toggle="dropdown" style="color:white; text-shadow:0 1px 0 black; padding-bottom:0">
                  Login<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <form name="nav-bar-login" action="/user_login/" method="post" accept-charset="UTF-8" style="padding:5px;">
                    {% csrf_token %} <!-- what does the csrf token do? Jordan 2012 10 08) -required by every POST form, mansour 2012 10 09-->
                    E-mail: <input id="user_username" style="margin-bottom: 15px;" type="text" name="email" size="30" />
                    Password: <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" size="30" />
                    <input type="hidden" name="djangoUserID" value=""> <!--how is this working, it's empty?? -->
                    <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" checked/>
                    <label class="string optional" for="user_remember_me"> Remember me</label>

                    <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="submit" value="login" />
                  </form>
                </ul><!--/dropdownmenu-->
              </li>

              <li class="{% block nav-register-active %}{% endblock %}">
              <a href="/register" class="btn btn-danger" style="color:white; text-shadow:0 1px 0 black; padding-bottom:0">Register</a>
              </li>

              {% endif %}


            </ul>
          </div><!-- nav collapse -->

        </div> <!--/container-->
      </div>
      </div> {% endblock %}

   <!-- THE GOOD STUFF -->
       <div class="container">
         {% block content %} {% endblock %}
         {% block bottom_navigation %}{% include 'bottom_navigation.html' %}{% endblock %}
         {% block footer %}{% include 'footer.html' %}{% endblock %}
       </div> <!--/container-->
  </body>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=203398289726214";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
