{% extends "base.html" %}   {% block nav-index-active %}active{% endblock %}
{% load staticfiles %}

{% block title %}Haircuts @ Handsome.ly{% endblock %}

  {% block page_specific_headers %}
    <!-- Google Maps API -->
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu3mqa90Iwx2hx4EKpzfUj2kp6y6TC_4Y&amp;sensor=false">
    </script>

    <!--- Creating, loading and customising the map with markers-->
    <script type="text/javascript" src="{% static "js/mapwithmarkers.js"%}"></script>
    <script type="text/javascript" src="{% static "js/infobox.js"%}"></script>
    <link href="{% static 'css/map.css' %}" rel="stylesheet">

    <!--- Popup styling etc -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/main.js"%}"></script>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  {% endblock %}
  
  {% block content %}

     <!-- Get the map going -->
    <script type="text/javascript">
      window.onload = function () {
        initialize_map_with_markers('Cambridge', {{ user.is_authenticated|lower }}, {% if user.is_authenticated %} {{ user.id }}{% else %} -1{% endif %});
      }
    </script>

      <div class="row-fluid" style="margin: 0px 0 60px 0;">
        <div class="span6 satisfy billboard">
          Cheaper haircuts for going at off-peak times
        </div>
        <div class="span3 offset1"><a href="/register"><button class="btn btn-large btn-primary" type="button" style="margin-top:40px;"><span class="satisfy big-register">Register now</span><br><span class="satisfy button-subtitle">to not miss out on massive savings</span></button></a>
        </div>

      </div>


      <div class="row-fluid">

        <div class="span3">
          <p class="satisfy arrow-text">Click on the <strong><span style="color:green">GREEN</span></strong> markers to request great deals at salons in Cambridge</p>
          <img src="{% static 'img/arrow.png' %}" align = "right">
        </div>

        <div id="map_canvas" class="span9" style="background-color: #efefef; height:500px">
          <h1 style="text-align:center; color: #999; padding-top:100px;">LOADING MAP</h1>
          <p style="text-align:center; color: #999; padding-left:20%; padding-right:20%;">If you're still able to read this, I hate to break it to you, but the map probably isn't coming :(<br> Give us a slap at team@handomsome.ly and we can try to screw up less in future.</p>
        </div> 
      </div> <!--/maprow-->


          <!-- uggo popups. COMMENT AND IMPROVE ME! -->
          <div id="register-modal" class="modal">
            <div class="modal-header">
              <a href="javascript:register_popup('hide');"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
              <h3>Register</h3>
            </div> 
            <div class="modal-body">
              <form name="register" action="/register/" method="post">
               {% csrf_token %}
                Email: <input type="text" name="email" />
                <div class="form-actions">
                  <button type="submit" name="submit" class="btn btn-primary pull-right">Register</button>
                  <a href="javascript:register_popup('hide');"><button type="button" class="btn pull-right">Cancel</button></a>
                </div>
                <p>You'll receive a a confirmation email but no spam, never.</p>
              </form>
            </div>
          </div> 

          <!-- POPUPS -->
          <!-- can we name the variables nicely, what is tell user? and is having 'ajax' in there relevant? -->
          <div id="login-modal" class="modal"> 

            <div class="modal-header">
              <a href="javascript:ajax_login('hide');"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
              <h3>Login</h3>
            </div>

            <div class="modal-body">
              <form name="ajaxLogin" action="" method="POST">
                <div class="row">
                  {% csrf_token %}
                  <span class="pull-right">Email: <input type="text" name="email" id="email_ajaxLogin"/></span><br>
                </div>

                <div class="row">
                  <span class="pull-right">Password: <input type="password" name="password" id="password_ajaxLogin" /></span>
                </div>
                <input type="hidden" name="djangoUserID_ajaxLogin" id="djangoUserID_ajaxLogin" value="">

                <div class="form-actions">
                  <button type="button" class="btn btn-primary pull-right" name="login" value="login" onclick="doAjaxLogin();">Log in</button>
                  <a href="javascript:ajax_login('hide');"><button type="button" class="btn pull-right">Cancel</button></a>
                  <a href="javascript:ajax_login('hide'); javascript:register_popup('show');" class="btn btn-link pull-right">Register for an account</a>
                </div>

                <button class="btn btn-primary btn-block" type="button" name="ajax_tellUser" id="ajax_tellUser" value="" onclick="ajax_tellU(Ajax_salonID);" style="visibility: hidden;">Email me when this salon is free</button>
              </form>
            </div>
        </div> 

      <div class="row-fluid">
        <small class="muted">*Not all salons are currently active on our system.</small> <br>
      </div>



  {% endblock %}
