{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
	<h1>Log in</h1>
	<br/>
	<p>Please log in to your account to register your response to this notification</p> 
	<br/>
	<form action="/logged_in_response/" method="get">
		<p> E-mail: &nbsp; &nbsp; <input type="input" name="email" value="{{ emailAdd }}"/> </p>
		<p> Password: <input type="password" name="newPassword"/> </p>
		<input type="hidden" name="answer" value="{{ answer }}"/>
		<input type="hidden" name="notifID" value="{{ notifID }}"/>
		<input type="hidden" name="message" value="{{ message }}"/>
		<p> <input type="submit" value="Go!" /> </p>
{% endblock %}
