{% extends 'base.html' %}

{% block content %}

<section>
      <form action="" method="post" class="form-very-large">
        {% csrf_token %} 

        {% if errors %}     
          <ul class="unstyled">
          {% for error in form.errors.email %}
              <li class="text-error"><strong>{{ error }}</strong></li>
          {% endfor %}
          </ul>
        {% endif %}
        <table>
          {% if errors.email %}     
            <ul class="unstyled">
              {% for error in form.errors.email %}
              <li class="text-error"><strong>{{ error }}</strong></li>
              {% endfor %}
            </ul>
          {% endif %}
          <tr><td>{{ form.email }}</td></tr>


          {% if errors.password %}     
            <ul class="unstyled">
              {% for error in form.errors.password %}
              <li class="text-error"><strong>{{ error }}</strong></li>
              {% endfor %}
            </ul>
          {% endif %}
          <tr><td>{{ form.password }}</td></tr>
          <tr><td>{{ form.remember_me }}{{ form.remember_me.label_tag }}</td><td><input class="btn btn-large btn-primary" type="submit" value="Log in"></td></tr>
        </table>
      </form>

  </section>

{% endblock %}
