{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Notify Users{% endblock %}

  {% block page_specific_headers %}
  {% endblock %}


{% block content %}
{% if user.is_authenticated %}

	{% if handUser.salonID != -1 or handUser.salonID != -1 %}
	<script type="text/javascript">
		function customersAlerted(){
			var addedHtml = document.getElementById('textAppearsHere').innerHTML = ("<b>" + "Customers have been notified!" + "</b>" + "<br/>" + "<br/>" + "<b>" + "What happens next?" + "</b>" + "<br/>" + "Well, we instantly send out emails to all those who have indicated they want a haircut at yours." + "<br/>" + "Now just wait for the customers to come!" + "<br/>" + "Have a great day.");
		}
	</script>
	<script language="JavaScript" type="text/javascript">
			  function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
			    var cookie = jQuery.trim(cookies[i]);
			    // Does this cookie string begin with the name we want?
			    if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			    }
			}
		    }
		    return cookieValue;
		}
		
		function doAjaxNotify(){
		    var djangoUserID = document.getElementById('djangoUserID').value; 
		    var csrftoken = getCookie('csrftoken'); 
		    jQuery.post('../notify_customers/', {djangoUserID : djangoUserID, csrfmiddlewaretoken : csrftoken}, function(data){ var dat = data; }); 
		  }
	</script>
		<center>
			<h1>Let customers know you are free</h1>
			<h2>People waiting: {{ numOfRequests|length }} </h2>
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="djangoUserID" value="{{ djangoUserID }}">
				<input type="button" name="notify" value= "Let Them Know!" class="btn btn-primary btn-large" style="padding:40px; padding-left:100px; padding-right:100px; font-size:25px;" onclick="doAjaxNotify; customersAlerted();">
			</form>
			<!--Allows text to come up on screen when click button-->
	  		<div id="textAppearsHere"></div>
	  		</br>
			</div>
		</center>
	{% endif %}
{% else %} 
	<p><b>Please <a href="/login">log in</a> or <a href="../register">register</a>!</b></p>
{% endif %}
{% endblock %}


