{% extends 'base.html' %}{% load staticfiles %} 

{% block title %}Notify Customers | Handsome.ly{% endblock %}

{% block content %}

<h1>Welcome <em>{{salon}}</em></h1>

<h3>You have {{num_male_requests}} m{{num_male_requests|pluralize:"an,en" }} and {{num_female_requests}} wom{{num_female_requests|pluralize:"an,en" }} waiting</h3>


    {% if messages %}
      {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
      {% endfor %}
    {% endif %}


<section id="offer-section" class="well">
  <form action="/send_notification/" method="POST" class="form-inline" style="font-size:16px;">
    {% csrf_token %}  

    <div class="input-prepend">
      <span class="add-on"><img src="{% static 'img/glyphicons/png/glyphicons_288_scissors.png' %}" style="height:14px;"></span>
      <select name="haircut_type" id="id_haircut" style="width:200px">
        <option value="M">{{num_male_requests}} Mens' Haircut</option>
        <option value="F">{{num_female_requests}} Womens' Haircut</option>
      </select>&nbsp;&nbsp;&nbsp;
    </div>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-calendar"></i></span>
      <select name="day" id="id_day" class="input-small" style="width:140px">
        <option value="TODAY">Today</option>
        <option value="TOMORROW">Tomorrow</option>
        <option value="TDA">The Day After</option>
      </select>
    </div>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-time"></i></span>
      <input type="text" class="input-small" placeholder="HH:MM" name="time" id="id_time" />
    </div>
  for
    <div class="input-prepend">
      <span class="add-on"><strong>£</strong></span>
      <input type="text" class="input-small" autofocus="autofocus" placeholder="Discount Price" name="discounted_price" id="id_discounted_price" />
    </div>

      <input class="btn btn-primary" type="submit" value="Offer haircut">

    <br>
    Optional<h4>Original Price?</h4>
    <div class="input-prepend">
      <span class="add-on"><strong>£</strong></span>
      <input type="text" class="input-small" autofocus="autofocus" placeholder="Original Price" name="original_price" id="id_original_price" />
    </div>
    {{form.notes}}


    <br><br>
    MESSAGE PREVIEW
    <br>


  </form>
</section>
{% endblock %}
