{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Notify Users{% endblock %}

  {% block page_specific_headers %}
  {% endblock %}


{% block content %}
{% if user.is_authenticated %}

	{% if handUser.salonID != -1 or handUser.salonID != -1 %}
	<script type="text/javascript">
		function customersAlerted(){
			var addedHtml = document.getElementById('textAppearsHere').innerHTML = ("<b>" + "Customers have been notified!" + "</b>" + "<br/>" + "<br/>" + "<b>" + "What happens next?" + "</b>" + "<br/>" + "Well, we instantly send out emails to all those who have indicated they want a haircut at yours." + "<br/>" + "Now just wait for the customers to come!" + "<br/>" + "Have a great day.");
		}
	</script>
		<center>
			<h1>Let customers know you are free</h1>
			<h2>People waiting: {{ numOfRequests|length }} </h2>
			<form action="../notify_customers/" method="post">
				{% csrf_token %}
				<input type="hidden" name="djangoUserID" value="{{ djangoUserID }}">
				<input type="button" name="notify" value= "Let Them Know!" class="btn btn-primary btn-large" style="padding:40px; padding-left:100px; padding-right:100px; font-size:25px;" onclick="customersAlerted()">
			</form>
			<!--Allows text to come up on screen when click button-->
	  		<div id="textAppearsHere"></div>
	  		</br>
			</div>
		</center>
	{% endif %}
{% else %} 
	<p><b>Please <a href="/login">log in</a> or <a href="../register">register</a>!</b></p>
{% endif %}
{% endblock %}


