{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<h1>My Account: {{ user.email }}</h1>
	<br/>
	<p>Update your details:</p> 
	<br/>
	<form action="profile" method="post"> {% csrf_token %}
		<p>First name: <input type="text" name="firstName" value="{{ firstName }}"/></p>
		<p>Last name: <input type="text" name="lastName" value="{{ lastName }}"/></p>
		<p>E-mail: &nbsp;&nbsp; &nbsp; <input type="text" name="email" value="{{ email }}" readonly="readonly"/></p>
		<p>Mobile:&nbsp; &nbsp; &nbsp; <input type="text" name="email" value="{{ mobile }}"/></p>
		<p>Default city: <input type="text" name="city" value="{{ city }}" readonly="readonly"/></p>
		<p>Notifications: <input type="text" name="notificationPreferences"
			value="{{ notificationPreferences }}" readonly="readonly"/></p>
		<input type="hidden" name="djangoUserID" value="{{ djangoUserID }}"/>
		</p><input type="submit" value="Save" /> </p>
	</form>
{% if salonID != "-1" %}
	<a href="../notify_users/">Salon Page - Click here to notify customers</a>
{% endif %}
{% else %} <p><b>Please <a href="../login">log in</a> or <a href="../register">register</a>!</b></p>
{% endif %}
{% endblock %}
