{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block page_specific_headers %}
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
   <link rel="stylesheet" href="http://jqueryui.com/web-base-template/themes/jqueryui.com/style.css">
   <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
   <script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	
	<br/>
	<div id="tabs">
	 <ul>
        <li><a href="#tabs-1">My details</a></li>
        <li><a href="#tabs-2">Recent requests</a></li>
        <li><a href="#tabs-3">Manage salon</a></li>
        	<h3>My Account: {{ user.email }}</h3>
   	 </ul>
		<div id="tabs-1" style="float:left; width:40%;">
		<h3>My details</h3> 
		<form action="../update_profile/" method="post"> {% csrf_token %}
			<p>First name: &nbsp; <input type="text" name="firstName" value="{{ cust.firstName }}"/></p>
			<p>Last name: &nbsp; <input type="text" name="lastName" value="{{ cust.lastName }}"/></p>
			<p>E-mail: &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <input type="text" name="email" value="{{ user.email }}" readonly="readonly"/></p>
			<p>Mobile: &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" name="mobile" value="{{ cust.mobile }}"/></p>
			<p>Default city:&nbsp; <input type="text" name="defaultCity" value="{{ cust.defaultCity }}" readonly="readonly"/></p>
			<p>Notifications: <input type="text" name="notification_preferences"
				value="{{ cust.get_notification_preferences_display }}" readonly="readonly"/></p>
			<input type="hidden" name="djangoUserID" value="{{ user.id }}"/>
			</p><input type="submit" value="Save" /> </p>
		</form>
		</div>
		<div id="tabs-2" style="float:left; width:30%;">
		<h3>Recent requests</h3>
		{% if reqs %}
			<table border="1" cellpadding="5">
			<tr><th>Salon</th><th>Date & time requested</th><th>Status</th><th>Action</th></tr>
			{% for req in reqs %}
				<tr><td>{{ req.salonID }}</td><td>{{ req.startDate }}</td>
				<td>{{ req.get_status_display }}</td><td><a href="#">Cancel</a></td></tr>
			{% endfor %}
			</table>
		{% else %}
			<b>None</b>
		{% endif %}
		</div>
{% if handUser.salonID != -1 or handUser.salonID != -1 %}
	<div id="tabs-3" style="float:left; width:20%; ">
		<h3>Manage salon</h3>
		<p style="font-size:130%"><b><a href="/notify/">Click here to notify customers!</a></b></p>
		<br/>
		<img src="../static/img/tumbleweed.jpg">
	</div>
{% endif %}
	</div>
{% else %} 
	<p><b>Please <a href="/login">log in</a> or <a href="../register">register</a>!</b></p>
{% endif %}
{% endblock %}
