{% extends "base.html" %}  
{% load staticfiles %}
  
  {% block page_specific_headers %}
    <script language="JavaScript" type="text/javascript">
  
	    function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
		        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		        break;
		    }
		}
	    }
	    return cookieValue;
	    }

	  function cancelRequestAjax(reqID, userID){
	    var csrftoken = getCookie('csrftoken'); 
	    jQuery.post('/cancel_request/', {reqID : reqID, csrfmiddlewaretoken : csrftoken}, function(data){ document.getElementById('td-req-id-'+reqID).innerHTML="Cancelled &#10004;"; }); 
	  }

  </script>
{% endblock %}
  
  {% block content %}

    {% if messages %}
      {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
      {% endfor %}
    {% endif %}

    <div class="row">
      {% if user.is_authenticated %}

          <h3>Recent requests</h3>
          {% if haircut_requests %}
            <table border="1" cellpadding="5" class="table table-striped">
            <tr>
              <th>Haircut</th>
              <th>Salon</th>
              <th>Date requested</th>
              <th>Status</th>
              <th>Action</th>
            </tr>

            {% for haircut_request in haircut_requests %}
              <tr>
                <td>{{haircut_request.haircut_type}}</td>
                <td>{{haircut_request.salon}}</td>
                <td>{{haircut_request.start_date_time}}</td>
                <td>{{haircut_request.get_status_display}}</td>
				{% if haircut_request.get_status_display == 'Cancelled' %}
					<td id="td-req-id-{{ haircut_request.id }}"><a href="#" onclick="cancelRequestAjax({{ haircut_request.id }}, {{ user.id }});">Cancel</a></td>
				{% else %}
					<td id="td-req-id-{{ haircut_request.id }}"> - </td>
				{% endif %}
				</tr>
            {% endfor %}

            </table>
          {% else %}
            <b>None</b>
          {% endif %}
        
      {% else %} 
          <p><b>Please <a href="/login">log in</a> or <a href="/register">register</a>!</b></p>
      {% endif %}

    </div>
  </div>



  {% endblock %}
