{% extends "base.html" %}
{% block title %}TEST{% endblock %}

{% block content %}
  <h1>TEST</h1>
 
  <div class="row">
    <div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">HEADER</h3>
      </div>
      <p>Girl, look at that body</p>
    </div>

  </div>
  <div class="row">
    <div class="popover" id="popex" aria-labelledby="popoverLabel" aria-hidden="true" data-title="YO IM POPPING UP">
    </div>
  </div>

  <div class="row">
  <!-- Button to trigger modal -->
  <a href="#myModal" role="button" class="btn" data-toggle="modal" data-target="#myModal"> Launch the demo modal</a>
  </div>

  <div class="row">
  <a href="#javascript:$(#myModal').modal('toggle');" role="button" class="btn" data-toggle="modal" data-target="#myModal"> JAVASCRIPT modal</a>
  </div>

  <div class="row">
    <a href="#javascript:$('#popex').popover('toggle');" role="button" class="btn btn-primary" >POPOVER Yo </a>
  </div>

<script>
  function modal_popup(showhide){
    if(showhide == "show"){
        document.getElementById('register-modal').style.visibility="visible";
    }else if(showhide == "hide"){
        document.getElementById('register-modal').style.visibility="hidden"; 
    }
  }
  </script>


{% endblock %}